@charset "UTF-8"
* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: radial-gradient(ellipse at 50% 50%, #CEF09D, #1C646D, #CEF09D,  #1C646D, #CEF09D, #1C646D);
    background-size: cover;
    background-position: top left;
    height: 100vh;
}

main {
    background-color: #CEF09D;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #1C646D;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #1F0802;
    text-align: center;
    text-shadow: 0px 0px 2px #1F0802;
}

h2 {
    color: #38184C;
    text-shadow: 0px 0px 2px #38184C;
}

p {
    text-align: justify;
}